@charset "utf-8";
@font-face {
  font-family: 'notokr';
  font-style: normal;
  font-weight: 300;
  src: url('../font/notokr-regular.eot'); 
  src: local("¡Ø"),
		url('../font/notokr-regular.eot?#iefix') format('embedded-opentype'),
        url('../font/notokr-regular.woff2') format('woff2'),
        url('../font/notokr-regular.woff') format('woff'),
        url('../font/notokr-regular.ttf') format('truetype'),
        url('../font/notokr-regular.svg#notokr-regular') format('svg');
}
@font-face {
  font-family: 'notokrm';
  font-weight: 400;
  src: url('../font/notokr-medium.eot');  
  src: local("¡Ø"),
		url('../font/notokr-medium.eot?#iefix') format('embedded-opentype'),
         url('../font/notokr-medium.woff2') format('woff2'),
         url('../font/notokr-medium.woff') format('woff'),
         url('../font/notokr-medium.ttf') format('truetype'),
         url('../font/notokr-medium.svg#notokr-medium') format('svg');
}
@font-face {
  font-family: 'notokrb';
  font-weight: 500;
  src: url('../font/notokr-bold.eot');
  src: local("¡Ø"),
		url('../font/notokr-bold.eot?#iefix') format('embedded-opentype'),
        url('../font/notokr-bold.woff2') format('woff2'),
        url('../font/notokr-bold.woff') format('woff'),
        url('../font/notokr-bold.ttf') format('truetype'),
        url('../font/notokr-bold.svg#notokr-bold') format('svg');
}
/* reset */
*{-webkit-text-size-adjust:none;font-family: 'notokr', '¸¼Àº °íµñ', 'µ¸¿ò', sans-serif;}
body, form, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, fieldset, th, td, input, textarea,button,select{margin:0;padding:0; font-size:13px; color:#666; line-height:1; -webkit-text-size-adjust: none;}
li{list-style:none}
address, caption, em, var{font-style:normal;font-weight:normal}
input, textarea, select{letter-spacing:normal}
ol, ul, dl{list-style:none}
fieldset, img{border:0}
legend, caption{display:none;font-size:0; line-height:0; visibility:hidden; overflow:hidden;}
img{border:0;vertical-align:top}
hr{display:none}
table{border-collapse:collapse;border-spacing:0}
br{letter-spacing:normal}
p{letter-spacing:normal}
input{vertical-align:middle}
input[type="text"], input[type="password"]{-webkit-appearance:none}
input[type="checkbox"]{-webkit-appearance:none;-webkit-border-radius:0}
input:checked[type="checkbox"]{-webkit-appearance:checkbox}
input[type="radio"]{border:none;-webkit-appearance:none}
button,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"]{-webkit-appearance:button;border-radius:0}
button{border:0;padding:0;margin: 0;overflow:visible;white-space: nowrap;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
textarea{-webkit-appearance:none}
/* common */
a{text-decoration:none}
a:link,a:visited			{color:#666; text-decoration:none;}
a:hover,a:active,a:focus	{color:#666; text-decoration:none}
input,textarea,select{border:solid 1px #ddd;border-radius:0}
input:focus, textarea:focus,select:focus{border:solid 1px #666}